@font-face {
  font-family: "SugarPie";
  src: url(C:\Users\usuario\Code\classettes\font);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_nav {
  margin: 0px;
  margin-left: 50px;
  font-family: 'SugarPie';
}

.btn_nav {
  text-decoration: none;
  color: black;
}

.container_btn {
  display: flex;
  gap: 35px;
  margin-right: 50px;
}

/*ESTILOS DE PRODUCTOS*/

.container_products {
  margin-top: 50px;
  padding: 10px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
}

#socks {
  width: 150px;
  height: 230px;
}

.producto {
  display: flex;
  justify-content: center;
}

.price {
  display: flex;
  flex-direction: column;
}